*{
	margin: 0 auto
}

@font-face {
	font-family: 'open';
	src: url('../fontes/openregular.ttf');
	font-weight: normal;
	font-style: normal;
}


body{

	background-color: #f2f2f2;
}



#fsection{
	width:50%;
	height:100vh;
	background-color: #f2f2f2;
	transition: 0.3s;
	float:left;
	z-index: 0;
	display: flex;
}


#fsection div{
	align-self: center;
}

#fsection h1 {
	
	
	
	font-family: 'open';
	color:#0093ff;
	font-weight:bold;
	font-size:130px;
	


}

#blogo {
	align-self:center;

}

#fsection p{
	text-align: center;
	font-family: 'open';
	color:#333;
	font-weight:bold;
	font-size:15px;
	margin-top: -30px;
	

}

