*{
	margin: 0 auto
}

@font-face {
	font-family: 'open';
    src: url('../fontes/openregular.ttf');
    font-weight: normal;
    font-style: normal;
}

#menu{
	width:70px;
	height:100vh;
	background-color: #8840b0;
    float:left;
    z-index: 2;
    position: fixed;
}

#conteudo{
	width:100%;
	height:100vh;
	background-color: #f2f2f2;
	transition: 0.3s;
	display: flex;
    float:left;
    z-index: 0;
}

#tolight, #todark{
	transition: 0.3s;
	font-size: 2vw;
	color: #333;
	font-family: 'open';
	cursor:pointer;
	user-select: none;
	align-self: center;
	float:left;
}

#tolight:hover, #todark:hover{
	transform: translateY(-5px);
}

#top-icons{
    width:100%;
    height:70%;
    
   
}
#bottom-icons{
    width:100%;
   height:30%; 
}
.icon-ld{
    width:65px;
    transition: 0.3s;
}
.icon-ld:hover{
    opacity:0.5;
    cursor: pointer;
}
