/*Preparation part*/

*{
	margin: 0 auto
}

@font-face {
	font-family: 'open';
	src: url('../fontes/openregular.ttf');
	font-weight: normal;
	font-style: normal;
	}
@font-face {
	font-family: 'qanelas-light';
	src: url('../fontes/QanelasSoft-UltraLight.otf');
	font-weight: lighter;
	font-style: lighter;
	}
@font-face {
	font-family: 'qanelas-bold';
	src: url('../fontes/QanelasSoft-ExtraBold.otf');
	font-weight: bold;
	font-style: bold;
}

body{

	background-color: #f2f2f2;
}

/*The Site*/


/*nav */

nav{
	position: fixed;
	width: 100%;
	height:70px;
	background-color: transparent;
	z-index: 4;
	display:flex;
}

#login{
	display: flex;
	background: transparent;
	height: 100%;
	width: 200px;
	margin: 0px;
	z-index: 2;

}

#login p{
	font-family:'qanelas-bold';
	font-weight: bold;
	color:#959595; 
	align-self: center;
	z-index:2;

}



#menu-icon{
	position: absolute;
	right:0;
	background: transparent;
	height: 100%;
	width: 100px;
	margin: 0px;
	z-index: 20;

}



.hamburger{
	width:25px;
	height: 3px;
	background: #959595;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,50%);
	transition:0.5s;
	
}


.hamburger:before, .hamburger:after{
	content: '';
	position: absolute;
	width:25px;
	height: 3px;
	background: #959595;
	transition: 1s;



}

.hamburger:before{

	top: -8px;
}

.hamburger:after{

	top: 8px;
}

#menu-icon.active {
	z-index:20	;
}

#menu-icon.active .hamburger{

	background:rgba(0,0,0,0);
	
}

#menu-icon.active .hamburger:before{

	transform: rotate(45deg);
	top:0;
}

#menu-icon.active .hamburger:after{

	transform: rotate(-45deg);
	top:0;
	

}

/*The menu */

#menu{
	display:none;
	position: absolute;
	width:100%;
	height: 100vh;
	background: #000;
	z-index: 3;
}

#left, #right{
	width: 50%;
	height: 100%;
	background: #f2f2f2;
	float:left;

}

#left{
	display: flex;
	align-items: center;
}


#right{
	display:flex;
	align-items: center;
	background: #f2f2f2; 
}
#right div{
	width: 60%;
}

#menu input{

	background: #fff;
	width: 100%;
	height: 35px;
	border:#fff;
	border-radius: 3px;
	padding: 10px;
	font-family: 'open';
	font-size: 15px;
	
}

#menu input.placehoder{
}


li{
	text-align: right;
	font-family: 'open';
	font-size: 40px;
	color:#333;
}
li.active{
	color:#0093ff;
}

ul{
	margin-top:20px;
	list-style-type: none;
}



/* First Section */

#lsection, #rsection{
	width:50%;
	height:100vh;
	background-color: #f2f2f2;
	transition: 0.3s;
	float:left;
	z-index: 0;
	display: flex;
}


#rsection{
	align-items: center;
}


#lsection div{
	align-self: center;
}

#lsection h1 {
	font-family: 'qanelas-bold';
	color:#0093ff;
	font-weight:bold;
	font-size:130px;
	text-align: center;
}

#lsection p{
	text-align: center;
	font-family: 'open';
	color:#333;
	font-weight:normal;
	font-size:20px;
	margin-top: -45px;
}

#rsection div{
	position: absolute;
	align-self: center;
	top:30%;
	right:0;
}

#rsection img{
	
	width: 570px;

}


