/*Preparacao*/
@import '../imports/todos';

body{
    background-color:#f2f2f2;

}

#padrao {
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    align-content: center;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    flex-direction: column;
}


.cad-wraper {
    display: flex;
    align-self: center;
    width: 100%;
    height: 120px;
    pointer-events: none;
    justify-content: center;
    position: relative;
}

//TEXTBOX

.overflow-cad {
    width: 800px;
    height: 100%;
    position: absolute;
    border: solid $cor-primaria;
    border-width: 4px 4px 4px 4px;
    box-shadow: 0 20px 0 $cor-primaria;
    border-radius: 15px;
    transition: 0.3s ease;
}



.not-valid {
    border: solid #FF393A;
    color: #FF393A;
    box-shadow: 0 20px 0;
}

.textbox-expanded {
    color: $cor-primaria;
    box-shadow: 0 105px 0;
}

.mto-fraca {
    border: solid #FF393A;
    color: #FF393A;
    box-shadow: 0 105px 0;
}

.fraca {
    border: solid #E29400;
    color: #E29400;
    box-shadow: 0 105px 0;
}

.media {
    border: solid #D5CD00;
    color: #D5CD00;
    box-shadow: 0 105px 0;
}

.forte {
    border: solid #00ff6b;
    color: #00ff6b;
    box-shadow: 0 105px 0;
}

.mto-forte {
    border: solid $cor-primaria;
    color: $cor-primaria;
    box-shadow: 0 105px 0;
}

.textbox-cad {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    width: 600px;
    left:90px;
    /*width: 675px;*/
    font-size: 30px;
    text-indent: 30px;
    font-weight: $semi-bold;
}


.textbox-cad.aparece {
    opacity: 1;
    pointer-events: all;
}

.textbox-cad.animate-in {
    animation: fadeInTop 200ms ease-in alternate-reverse;
}


.textbox-cad.some {
    animation: fadeOutBottom 200ms ease-in forwards;
    //opacity: 0;
    pointer-events: none;
}


//TEXTBOX END


.cad-msg {
    width: 100%;
    align-self: center;
    text-align: center;
    margin-top: 200px;
    color: red;
    position: relative;

    .h1dica, .dica{
        font-weight:$semi-bold;
    }

    .h1dica {
        color: $cor-primaria;
        font-size:40px;
    }

    .dica {
        color: $cinza;
        font-size:19px;
    }
}

.erro {
    margin-top: -30px;
    width: 800px;
    text-align: right;
    color: red;
    font-weight: 500;
}

.ReenviarEmail {
    background: none;
    border: none;
    text-align: center;
    position: absolute;
    z-index: 11;
    margin-top: -30px;
    font-size: 20px;
    cursor: pointer;
    color: #959595;
    display:none;


    &:hover {
        color: $cor-primaria;
    }
}

.btn-preencher {
    position: absolute;
    top: 0;
    width: 800px;
    height: 158px;
    background: transparent; 
}

//Senha

.grow-bar-align{
    width:650px;

}
.grow-bar-wrapper {
    height: 12px;
    border-radius: 15px;
    width: 450px;
    margin: 0;
    background: #e2e2e2;
    overflow: hidden;
    display: none;
    float: left;
    margin-top: 5px;

    .grow-bar {
        width: 100%;
        height: 100%;
        background: #0093ff;
        transform: translateX(-650px);
        transition: transform 200ms ease;
    }

   
}

.nivel-senha {
    color: #787878;
    font-weight: $semi-bold;
}


//step e erro

.step-error-wrapper {
    width: 800px;
    margin-top: -30px;
    text-align: right;

    .step {
        text-align: left;
        position: absolute;

        div {
            width: 10px;
            height: 10px;
            background: #cecece;
            border-radius: 10px;
            margin: 0;
            float: left;
            margin-left: 5px;
        }

		div:nth-of-type(1) {
			background: $cor-primaria;
		}
    }
}


.step.step1 div:nth-of-type(1) {
    background-color: #00ff6b;
}

.step.step1 div:nth-of-type(2) {
    background-color: #0093ff;
}

.step.step2 div:nth-of-type(1), .step.step2 div:nth-of-type(2) {
    background-color: #00ff6b;
}

.step.step2 div:nth-of-type(3) {
    background-color: #0093ff;
}

.step.step3 div:nth-of-type(1), .step.step3 div:nth-of-type(2), .step.step3 div:nth-of-type(3) {
    background-color: #00ff6b;
}

.step.step3 div:nth-of-type(4) {
    background-color: #0093ff;
}

.step.step4 div:nth-of-type(1), .step.step4 div:nth-of-type(2), .step.step4 div:nth-of-type(3), .step.step4 div:nth-of-type(4) {
    background-color: #00ff6b;
}

.step.step4 div:nth-of-type(5) {
    background-color: #0093ff;
}

.step.step5 div:nth-of-type(1), .step.step5 div:nth-of-type(2), .step.step5 div:nth-of-type(3), .step.step5 div:nth-of-type(4), .step.step5 div:nth-of-type(5) {
    background-color: #00ff6b;
}

.step.step5 div:nth-of-type(6) {
    background-color: #0093ff;
}



//Loader
.lds-cad {
    top: 103px;
    left: auto;
    z-index: 10;
}

//Senha

.h1senha {
    color: #fff;
    font-size: 35px;
    z-index: 10;
    position: absolute;
    top: 150px;
}

.voltar {
    position: absolute;
    left: 0;
    transform:rotate(180deg);
    margin-left:35px;
}