// SCSS
@import '../imports/todos';
@import '../controls/button';
@import '../controls/textbox';
@import '../controls/modal';
@import '../controls/checkbox';

// media 

@media (max-width:576px) {
}
@media (max-width:768px) {
}
@media (max-width:992px) {
    
}
@media (max-width:1600px) {
    .centraliza{
        width:75%;
    }
}
@media (min-width:1366px) {
    .centraliza {
        width: 410px;
    }
}

//comandos gerais
#player {
    width: 500px;
    height: 250px;
    position: absolute;
    top: 15%;
    left: 15%;
    z-index: 7;
}

// Primeira seção (é dividida em duas controls direita (principal) e esquerda (login) 


section {
    @include wh(100vh);

    h1 {
        font-weight: $extra-bold;
        font-size: 2.1em;
        color: $texto;
        width: 340px;
        margin: 0;
    }

    
}


section{ 
    h3 {
        color: $texto;
        font-size:0.9em;
        width:290px;
        margin: 0;
        font-weight:$normal;

        a {
            color: $texto;
            font-weight:$bold;
        }
    }
}

#principal, #login{
    height: 100vh;
    float: left;
    z-index: 0;
    display: flex;
}

//Principal

#principal {
    background-color: $cor-primaria;
    width: 60%;
    opacity: 0.67;
    background: rgba(0,149,255,1);
    background: -moz-linear-gradient(-45deg, rgba(0,149,255,1) 0%, rgba(61,116,219,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,149,255,1)), color-stop(100%, rgba(61,116,219,1)));
    background: -webkit-linear-gradient(-45deg, rgba(0,149,255,1) 0%, rgba(61,116,219,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,149,255,1) 0%, rgba(61,116,219,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,149,255,1) 0%, rgba(61,116,219,1) 100%);
    background: linear-gradient(135deg, rgba(0,149,255,1) 0%, rgba(61,116,219,1) 100%);
    align-items: flex-end;

    div {
        width: 75%;
        height: 40%;
        position: relative;
    }

    .c-quadrado {
        position: absolute;
        top: 5px;
        left: -7.5px;
        width: 40px;
        height: 40px;
        background: rgba(255, 255, 255, 0.3);
        transform: rotate(45deg);
        border-radius: 7px;
    }
}

#bg-img {
    margin: 0;
    z-index: 0;
    width: 65%;
    height: 100vh;
    background: url("../img/index-bg.jpg") no-repeat;
    background-size: 118%;
    background-position: bottom 0px right 0px;
}
//login

#login {
    background-color: $cor-fundo;
    width: 40%;
    align-items: center;

    p:first-of-type {
        color: $cor-primaria;
        font-size: 34px;
        margin-left: 10px;
    }

    #logintitle {
        font-weight: $semi-bold;
    }

    #cadastre-se {
        color: $cinza;
        font-size: 15px;
        margin-top: 30px;
        text-align: center;
    }

    span {
        color: $cor-primaria;
        font-size: 13.5px;
    }

    .button {
        width: 100%;
    }

    .link {
        color: $cor-primaria;
        font-weight: $normal;
        cursor:pointer;
    }

    #abre-senha{
        font-size:13.5px;
        position:absolute;
        top:255px;
    }

    .centraliza{
        position:relative;
    }
}

.login{
    width:100%;
    margin-top:30px;
}

.centralizalogin {
    .link {
        font-size:13px;
        margin-top:0;
        cursor:pointer;
    }
}

.centralizabotao {
    display: flex;
    align-content: center;
}


// Segunda seção

#bem-vindo {
    background: url("../../img/fale-back.jpg") no-repeat #f2f2f2;
    /*background:#f2f2f2;*/
    background-size: 100%;
    height: 110vh;
    display: flex;
    text-align: right;
    align-items: center;

    .align-text {
        width: 100%;
        margin: 0;
        position: absolute;
        right: 0;

        .text {
            max-width: 600px;
            text-align: center;

            h1 {
                width: auto;
                color: $cor-primaria;
                margin-bottom: 30px;
                font-weight: $semi-bold;
                font-size: 37px;
            }

            p {
                color: $cinza;
            }
        }
    }
}

// Terceira seção

section#video {
    @include wh(110vh);
    background: -webkit-linear-gradient(left, $cor-fundo, $cor-fundo 40%, #303339 40%, #303339);
    display: flex;
    align-items: center;
    justify-content: center;


    .conteiner {
        padding: 0px 110px;
        width: 100%;

        .c-video {
            position: relative;
            width: 75%;
            float: left;

            video {
                width: 100%;
                box-shadow: -14px 14px 16px 0px rgba(0, 0, 0, 0.25);
            }

            .play-button {
                width: 100%;
                height: 99.1%;
                position: absolute;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                background: rgba(0,0,0,0.3);
                transition: opacity 300ms ease;

                &:hover {
                    opacity: 1;
                }



                button {
                    background: none;
                    border: 0;
                    outline: 0;
                    cursor: pointer;
                }



                i.material-icons:before {
                    font-size: 100px;
                    content: 'play_circle_filled';
                    color: #fff;
                }

                i.play:before {
                    content: 'pause_circle_filled';
                }

                i.pause:before {
                    content: 'play_circle_filled';
                }
            }

            .controls-bar {
                width: 100%;
                position: absolute;
                bottom: 0;
                display: flex;
                flex-wrap: wrap;
                align-content: flex-end;

                .mute-button {
                    position: absolute;
                    right: 0;
                    bottom: 5px;
                    padding: 20px;
                    cursor: pointer;



                    button {
                        background: none;
                        border: 0;
                        outline: 0;
                        cursor: pointer;
                    }

                    i:before {
                        content: 'volume_up';
                        font-size: 25px;
                        color: #fff;
                    }

                    i.mute:before {
                        content: 'volume_up';
                    }

                    i.muted:before {
                        content: 'volume_off';
                    }
                }
            }
        }
    }


    div.frase {
        position: absolute;
        right: 75px;
        text-align: right;
    }

    h1 {
        font-weight: $semi-bold;
        color: #72767d;
        font-size: 2em;
        width: 100%;
    }

    p {
        font-size: 1.2em;
        color: #72767d;
    }
}

// Quarta seção

section#download {
    background-color: #303339;
    display: flex;
    align-items: flex-end;
    height: 110vh;
    margin-top:-10px;

    img {
        float: left;
        margin-right: 0;
    }

    .align-text {
        align-self: center;


        .text {
            max-width: 330px;
            text-align: center;

            h1 {
                width: auto;
                color: $texto;
                margin-bottom: 30px;
                font-weight: $semi-bold;
                font-size: 28px;
            }

            p {
                color: $texto;
            }
        }
    }
}

//Quinta e sexta seção
section#planos {
    height: 115vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background:#f2f2f2;

    .plan-box {
        width: 400px;
        height: 580px;
        background-color: $texto;
        box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.25);
        margin: 0px 30px 0px 30px;
        border-radius: 15px;

        &.plan-premium {
            overflow: hidden;
            border: 3.5px solid $cor-primaria;
            position:relative;

            header {
                background: linear-gradient(45deg, #0093ff, #7ac7ff);
                margin: 0;
                padding: 0;
                width: 115%;
                margin-left: -7.5%;

                h1, h3 {
                    color: $texto;
                }

                h1 {
                    font-size: 29px;
                }

                h3 {
                    font-size: 17px;
                }


            }
        }

        header {
            width: 100%;
            height: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1, h3 {
                color: $cor-primaria;
                text-align: center;
                font-weight: $semi-bold;
                width: auto;
            }

            h1 {
                font-size: 25px;
            }

            h3 {
            }
        }

        ul {
            list-style: disc;
            color: $cor-primaria;
            padding-top: 45px;
            padding-left: 75px;
            line-height: 35px;
            font-weight: $semi-bold;

            p {
                color: $cinza;

                &.blue-left {
                    display: inline;
                }

                &.blue {
                    line-height: 0;
                    display: inline-block;
                    margin-left: 5px;
                    color: $cor-primaria;
                }
            }
        }
    }
}

//SVG
svg {
    fill: #363942;
    pointer-events: none;
    transform: rotate(0deg) translate(-263px,-380px) scale(1.7,-1.7);
}
//END SVG

section#team {
    background-color: #363942;
    transform: translateY(-300px);
    height: 80vh;
    text-align: center;

    h1, p {
        width: auto;
        text-align: center;
        color: #72767d;
        font-weight: $semi-bold;
    }

    h1 {
        padding-top: 30px;
    }

    .team-members-wrapper {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        -webkit-align-content: center;
        align-content: center;
        flex-direction: row;
        max-width: 1000px;
        margin-top: 40px;

        .team-members-box {
            width: 400px;
            height: 150px;
            border: solid #30333b;
            border-width: 20px 4px 4px 4px;
            border-radius: 10px;
            margin: 10px 15px 0 0;


            figure {
                display: flex;
                height: 100%;
                align-items: center;

                div {
                    margin-left: 35px;
                    margin-right: 55px;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 4px solid #30333b;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 100%;
                    }
                }

                h1 {
                    color: #fff;
                    font-size: 22px;
                    margin: 0;
                    padding: 0;
                }

                p {
                    font-size: 14px;
                }

                figcaption {
                    margin: 0;
                }
            }
        }
    }
}


.m-div.default {
    background-color: #363942;
}

