// SCSS

@import '../imports/todos';


//alinha

.right-pagamento{
    display:flex;
    align-items:center;
    
}

//CABECALHO

.pagamento-cabecalho {
    text-align: center;
    font-weight: $semi-bold;
    margin-bottom: 50px;

    h1 {
        width: 100%;
        font-size: 25px;
        font-weight: $semi-bold;
    }

    p {
        font-size: 20px;
        color: #72767d;
        font-weight: $semi-bold;
    }
}

//CONTAINERS

.formas-pagamento {
    text-align: center;
    padding: 10px 30px 15px 30px;

    .container-logado {
        font-weight: $semi-bold;
        margin-bottom: 20px;
        border-radius: 15px;
        border-width: 15px 2px 2px 2px;
        border-color: #72767d;
        border-style: solid;
        max-width: 800px;
        height: 100px;
        display: flex;

        img {
            float: left;
            width: 300px;
            margin: 10px 10px 10px 15px;
        }

        .debitoConta {
            width: 230px;
        }

        p {
            font-size: 20px;
            color: $texto;
            float: left;
            align-self: center;
            margin-right: 40px;
        }
    }
}


//CARTAO DE CREDITO

.right-pagamento-cc {
    background-color: #30333a;
    min-height: 100vh;
    height: auto;
}

.align {
    background-color: #292b31;

    &.align-cc {
        height: 350px;
        display: flex;
        align-items: center;

        .card {
            width: 450px;
            height: 350px;
            background: url("../../img/pagamento/card.png") no-repeat;
            background-size: 100%;
            position: relative;

            p {
                position: absolute;
                font-family: 'kredit',sans-serif;
                font-weight: $bold;
                color: $texto;
                text-shadow: -1px 1px 2px black;
                letter-spacing: 3px;
            }

            p:nth-child(1) {
                margin-top: 155px;
                margin-left: 80px;
                font-size: 25px;
            }

            p:nth-child(2) {
                font-size: 17px;
                float: left;
                margin-top: 230px;
                margin-left: 80px;
                position: relative;
            }

            p:nth-child(3) {
                margin-left: 10px;
                font-size: 17px;
                float: left;
                margin-top: 230px;
                position: relative;
            }

            p:nth-child(4) {
                margin-top: 230px;
                margin-left: 310px;
                font-size: 17px;
                float: left;
            }
        }
    }

    &.align-align {
        display: flex;
        justify-content: center;
    }

    &.align-card-form {
        display: flex;
        background-color: #30333a;
        text-align: start;
        flex-wrap: wrap;
        /* align-content: center; */
        /* justify-content: center; */
        width: 954px;

        .overflow-type3 {
            font-weight: $semi-bold;
            margin-bottom: 10px;
            width: 467px;
            margin: 5px;
        }
    }
}

.card-form {
    display: flex;
    padding: 50px 30px 40px 30px;

}

//textbox with button
.textbox-with-button {
    display: flex;
    justify-content: flex-end;
    background-color: #30333a;

    .minha-conta {
        margin: 0;
    }
}