// SCSS
@import '../var-import/cor';

//TEXTBOX

.caixxinha {
    outline: none;
    border: 1.5px solid #dfdfdf;
    border-radius: 5px;
    text-indent: 17px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 17px;
    color: #333;
    width: 100%;
    transition: 0.3s ease-in;
    margin-top: 15px;
    background-color: #dfdfdf;
	box-sizing:border-box;

    .selecionada {
        border: 1.5px solid $cor-primaria;
    }
}

.caixxinha::-webkit-input-placeholder {
    transition: 0.2s ease-in;
    color: rgba($cinza, 0.60);
}

.caixxinha:-ms-input-placeholder {
    color: rgba($cinza, 0.60);
}

.caixxinha::-moz-input-placeholder {
    color: rgba($cinza, 0.60);
}

.caixxinha:focus::-webkit-input-placeholder{
    color: transparent;
}

.caixxinha::selection {
    background: rgba($cinza, 0.45);
    color: $texto;
}