/* Configuração dos divs */

@import "../var-import/utilidades";


/* Configuração da animação da troca de páginas */

.m-div {
    .troca {
        position: absolute;
        @include wh(100vh);
        background-color: #333;
        z-index: 300000;
        pointer-events: none;
        -webkit-animation: 0.25s;
        animation-duration: 0.25s;
        -webkit-animation-direction: alternate-reverse;
        animation-direction: alternate-reverse;

        .completo {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
        }
    }

    .troca--fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }

    .troca--topedaum {
        -webkit-animation-name: topedaum;
        animation-name: topedaum;
    }

    &.saindo-da-pagina {
        .troca {
            -webkit-animation-direction: normal;
            animation-direction: normal;
        }
    }

    .section {
        -webkit-animation: 0.25s;
        animation-duration: 0.25s;
        opacity: 0;
    }

    .section--fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }

    .saindo-da-pagina{
        .section {
        -webkit-animation-direction: alternate-reverse;
        animation-direction: alternate-reverse;
        }
    }
}


/*
.m-div .light--delayed {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s; }


.m-scene.saindo-da-pagina .light--delayed {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.m-scene.saindo-da-pagina .light--noexiting {
  -webkit-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse; }
*/
