//-------------------
// Cabecalho(header) loja
//-------------------
.head-container {
    width: 100%;
    position: relative;

    h1, p {
        opacity: 0;
        
    }

    .header {
        background: url('../img/loja/topposauroRestrito.aspx.jpg') no-repeat;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 28.125%;
        color: $background;
        display: flex;
        transform: translateY(-100%);

        div {
            margin-top: -17.125%;
            text-align: center;
        }

        h1 {
            font-weight: $extra-bold;
        }

        p {
            display: inline;
            font-size: 12px;

            &:first-of-type {
                display: inherit;
                font-size: 20px;
                font-weight: $semi-bold;
            }

            &:nth-of-type(3) {
                font-style: italic;
            }
        }
    }

    .curve {
        background: url('../img/loja/top.png') no-repeat;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 0;
        padding-top: 47.083%;
        position: absolute;
        margin-top: -5.083%;
        display: flex;

        .div {
            margin-top: -37.083%;
            color: #5f5f5f;
            text-align: center;
        }

        h1 {
            font-weight: $semi-bold;
            font-size: 23px;
        }

        p {
            font-weight: 500;
            font-size: 15px;
            margin-top: 4px;
            color: #5f5f5f;
        }


    }
}

//-----------------
// Seção classicos
//-----------------
.classic {
    background-color: #d3d3d3;
    margin-top: 37.083%;
    padding-top: 120px;

    .div {
        color: #5f5f5f;
        text-align: center;
        z-index: 7777;
    }

    h1 {
        font-weight: $semi-bold;
        font-size: 23px;
    }

    p {
        font-weight: 500;
        font-size: 15px;
        margin-top: 4px;
        color: #5f5f5f;
    }
}

//------
// Grid
//------
.grid {
    padding: 20px 20px 100px 20px;
    max-width: 1100px;
    margin: 0 auto;
    list-style: none;
    text-align: center;

    &.grid2 {
        max-width: 1000px;
    }


    li {
        display: inline-block;
        margin: 0;
        padding: 20px;
        text-align: left;
        position: relative;
        text-decoration: none;
    }

    figure {
        margin: 0;
        position: relative;
        overflow: hidden;
        background-color: #cccccc;
        cursor: pointer;
        transition: box-shadow 0.2s ease-in;
        box-shadow: 0px 2px 6px $light-gray;
        border-radius: 10px;
        opacity: 0;

        //COLECAO
        &.teclado {
            margin: 0;
            width: 300px;
            height: 300px;
            display: flex;
            align-items: center;
            box-shadow: none;
            background-color: #28292a;
            border-radius: 10px;
            justify-content: center;


            img {
                width: 200px;
            }

            .nome {
                position: absolute;
                bottom: 0;
                margin-bottom: 35px;
                font-size: 22px;
            }
        }
        //END COLECAO
        .img {
            max-width: 100%;
            display: block;
            position: relative;
            /*transition: transform 0.4s;*/
        }

        &:hover {
            box-shadow: 0 0 0 3px $primary-color;
        }
        /*&:hover .img {
            transform: translateY(-50px);
            box-shadow: 0 0 0 6px $primary-color;
        }*/
        &:hover figcaption {
            opacity: 1;
            transition: opacity 0.2s ease-in;
        }
    }

    figcaption {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        color: #fff;
        opacity: 0;
        transition: opacity 0.2s ease-in;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .preco {
            color: $primary-color;
        }

        .descricao:nth-of-type(1) {
            font-size: 24px;
            max-width: 100%;
            margin-top: -15px;
            text-align: center;
        }

        .descricao:nth-of-type(2) {
            margin-bottom: 20px;
        }

        .preco:nth-of-type(1) {
            font-size: 40px;
            display: initial;
            float: left;
        }

        .preco:nth-of-type(2) {
            font-size: 40px;
            margin-bottom: 25px;
            display: initial;
        }

        a {
            text-align: center;
            padding: 5px 10px;
            border-radius: 2px;
            display: inline-block;
            background: #ed4e6e;
            color: #fff;
        }
    }
}

//--------
// Extras
//--------
.descricao, .preco {
    margin: 0;
    padding: 0;
    color: #5f5f5f;
    display: inherit;
    font-family: 'open';
    font-weight: 500;
}

.fecha-janela {
    position:absolute;
    font-family:'qanelas';
    font-size:30px;
    right:15px;
    cursor:pointer;
}