//--------
// COLORS
//--------
$primary-color: #0093ff;
$white: #fff;
$background: #f2f2f2;
$light-gray: #959595;
$default-gray: #333;
$dark-gray: #262626;
$bgray: #363942; /* bgray = bluish gray --> cinzinha azulado usado nos layouts dark */
$dark-bgray: #2b2e35;
$medium-bgray: #30333b;
$medium-bgray2: #30333a;
$light-bgray: #72767d;


//-------------
// FONT-WEIGHT
//-------------
$ultralight: 100;
$light: 200;
$normal: 300;
$semi-bold: 500;
$bold: 700;
$extra-bold: 900;