@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes first-in {
    0% {
        opacity: 0;
        transform: scale(1.25);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes in {
    0% {
        opacity: 0;
        transform: translate(680px,0px);
    }

    100% {
        opacity: 1;
        transform: translate(0px,0px);
    }
}

@keyframes out {
    0% {
        opacity: 1;
        transform: translate(0px,0px);
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-600px,0px);
    }
}

@keyframes first-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

/* Keyframes */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 1;
        transform: translate(0px,0px)
    }

    100% {
        opacity: 0;
        transform: translate(0px,-40px)
    }
}

@keyframes fadeOutBottom {
    0% {
        opacity: 1;
        transform: translate(0px,0px)
    }

    50% {
        opacity: 0;
    }

    100% {
        transform: translate(0px,40px)
    }
}


/*animação de preload (animação nova)*/


@keyframes escrever {
    0% {
        width: 0;
    }

    20%, 100% {
        width: 3.2em;
    }
}

@keyframes piscaCursor {
    from {
        border-right-color: #0093ff;
    }

    to {
        border-right-color: transparent;
    }
}

/* Loaders */

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(19px, 0);
    }
}

@-webkit-keyframes fadeIn-right {
    0% {
        transform: scaleX(4.1);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes fadeIn-right {
    0% {
        transform: scaleX(4.1);
    }

    100% {
        transform: scaleX(1);
    }
}

@-webkit-keyframes translate-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes translate-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0px);
    }
}