// SCSS

@import '../imports/todos';


// Preload
.preload {
    position: absolute;
    @include wh(100vh);
    /*background-color: $cor-primaria;*/
    z-index: 99999;
    position: fixed;
    pointer-events: none;

    &.completo {
        opacity: 0;
        /*animation: fadeIn 250ms ease reverse forwards;*/
    }
}



.logo {
    position: relative;
    top: 50%;
    width: 3.2em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    font-family: 'qanelas';
    font-weight: $extra-bold;
    color: $cor-primaria;
    /*color: lighten($texto, 10);*/
}


.animado {
    animation: escrever 3.5s steps(6) 1s infinite normal both, piscaCursor 500ms steps(40) infinite normal;
}

//Opacidade Onload

.m-div.completo {
    &.loja {
        h1, p {
            animation: fadeIn 500ms 500ms forwards ease-in;
        }

        .header {
            animation: translate-down 250ms 500ms forwards ease-in-out;
        }

        .curve {
            opacity: 1;
        }

        figure {
            animation: fadeIn 500ms 500ms forwards ease-in-out;
        }
    }

    section {
       opacity: 1;
    }
}

.curve {
    transition: opacity 0.25s 250ms ease;
}

.default{
    section {
        opacity:0;
        transition: opacity 500ms 250ms ease;
    }
}