/* SCSS vars */

$ultralight:100;
$light:200;
$normal:300;
$semi-bold:500;
$bold:700;
$extra-bold: 900;

/* Open Sans*/

@font-face {
    font-family: 'open';
    src: url('../fontes/open/OpenSans-Regular.ttf');
    font-weight: $normal;
    font-style: normal;
}

@font-face {
    font-family: 'open';
    src: url('../fontes/open/OpenSans-SemiBold.ttf');
    font-weight: $semi-bold;
    font-style: normal;
}

@font-face {
    font-family: 'open';
    src: url('../fontes/open/OpenSans-Bold.ttf');
    font-weight: $bold;
    font-style: normal;
}

@font-face {
    font-family: 'open';
    src: url('../fontes/open/OpenSans-ExtraBold.ttf');
    font-weight: $extra-bold;
    font-style: normal;
}


/* Qanelas */

@font-face {
    font-family: 'qanelas';
    src: url('../fontes/qanelas/Qanelas-UltraLight.ttf');
    font-weight: $ultralight;
    font-style: normal;
}

@font-face {
    font-family: 'qanelas';
    src: url('../fontes/qanelas/Qanelas-Light.ttf');
    font-weight: $light;
    font-style: normal;
}

@font-face {
    font-family: 'qanelas';
    src: url('../fontes/qanelas/Qanelas-Bold.ttf');
    font-weight: $bold;
    font-style: normal;
}

@font-face {
    font-family: 'qanelas';
    src: url('../fontes/qanelas/Qanelas-ExtraBold.ttf');
    font-weight: $extra-bold;
    font-style: normal;
}


/* Kredit */


@font-face {
    font-family: 'kredit';
    src: url('../fontes/kredit/kredit shine.ttf');
    font-weight: $normal;
    font-style: normal;
}

@font-face {
    font-family: 'kredit';
    src: url('../fontes/kredit/kredit back.ttf');
    font-weight: $bold;
    font-style: normal;

}
