input {
    width: 50%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-sizing: border-box;
}

.container {
    background-color: #EEE;
    padding: 20px;
}

#message {

    background: #EEE;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    font-size: 15px;
}

h3 {
    text-align:center;
}
/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -5px;
    content: "✓";
}

/* Add a red text color and an Xmark when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:after {
    position: relative;
    left: 5px;
    content: "✗";
}