//--------------
// Video player
//--------------

#player {
    width: 500px;
    height: 250px;
    position: absolute;
    top: 15%;
    left: 15%;
    z-index: 7;
}


video {
  width: 100%;
  box-shadow: -14px 14px 16px 0px rgba(0, 0, 0, 0.25);
}

.play-button {
    width: 100%;
    height: 99.1%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 300ms ease;

    &.play {
        opacity: 0;
    }

    &.playing {
        opacity: 0;
        &:hover {
            opacity: 1;
        }
    }



    button {
        background: none;
        border: 0;
        outline: 0;
        cursor: pointer;
    }

    i.material-icons:before {
        font-size: 100px;
        content: "play_circle_filled";
        color: #fff;
    }

    i.play:before {
        content: "play_circle_filled";
    }

    i.pause:before {
        content: "pause_circle_filled";
    }
}

.controls-bar {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;

  .mute-button {
    position: absolute;
    right: 0;
    bottom: 5px;
    padding: 20px;
    cursor: pointer;

    button {
      background: none;
      border: 0;
      outline: 0;
      cursor: pointer;
    }

    i:before {
      content: "volume_up";
      font-size: 25px;
      color: #fff;
    }

    i.mute:before {
      content: "volume_up";
    }

    i.muted:before {
      content: "volume_off";
    }
  }
}
