/*Login css*/

/* Pré-comandos */

* {margin: 0 auto;font-family: 'open';}

html, body {height: 99%;overflow: hidden;}

/* Comandos da seção*/

section {
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100vh;
}

#right div p:first-of-type {
    color: #0093ff;
    font-size: 34px;
    margin-bottom: 15px;
}

#lblMsg {
    color: #333;
    font-size: 13.5px;
    margin-bottom: 15px;
}

.confirmar {display: none;}

.centralizalogin {
    overflow: auto;
    height: 150px;
    transition: 0.3s;
    -ms-overflow-style: none;
}

.centralizalogin::-webkit-scrollbar { width:0px;}

