@keyframes escrever {
    0% {
        width: 0;
    }

    20%, 100% {
        width: 3.2em;
    }
}

@keyframes piscaCursor {
    from {
        border-right-color: #DFDFDF;
    }

    to {
        border-right-color: transparent;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes in {
    0% {
        opacity: 0;
        transform: translate(-50%,-50%) scale(1.25);
    }

    100% {
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
    }
}

@keyframes out {
    0% {
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%,-50%) scale(0.75);
    }
}

/* Keyframes */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 1;
        transform: translate(0px,0px)
    }

    100% {
        opacity: 0;
        transform: translate(0px,-40px)
    }
}

@keyframes fadeOutBottom {
    0% {
        opacity: 1;
        transform: translate(0px,0px)
    }

    50% {
        opacity: 0;
    }

    100% {
        transform: translate(0px,40px)
    }
}


/*animação de preload (animação nova)*/


@keyframes escrever {
    0% {
        width: 0;
    }

    20%, 100% {
        width: 3.2em;
    }
}

@keyframes piscaCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}
