// SCSS
@import '../var-import/cor';

//TEXTBOX

.textbox {
    outline: none;
    border: 1.5px solid #dfdfdf;
    border-radius: 5px;
    text-indent: 17px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 17px;
    color: #333;
    width: 100%;
    transition: 0.3s ease-in;
    margin-top: 15px;
    background-color: #dfdfdf;
	box-sizing:border-box;

    &.foco {
        border: 1.5px solid $cor-primaria;
    }
}

.textbox::-webkit-input-placeholder {
    transition: 0.2s ease-in;
    color: rgba($cinza, 0.60);
}

.textbox:-ms-input-placeholder {
    color: rgba($cinza, 0.60);
}

.textbox::-moz-input-placeholder {
    color: rgba($cinza, 0.60);
}

.textbox:focus::-webkit-input-placeholder{
    color: transparent;
}

.textbox::selection {
    background: rgba($cinza, 0.45);
    color: $texto;
}