// SCSS

@import '../var-import/cor';

//

.titulo {
    width:100%;
    height:100px;
}

.grid {
    padding: 20px 20px 100px 20px;
    max-width: 1200px;
    margin: 0 auto;
    list-style: none;
    text-align: center;

}

.grid li {
    display: inline-block;
    margin: 0;
    padding: 20px;
    text-align: left;
    position: relative;
    text-decoration:none;
}

.grid figure {
    margin: 0;
    position: relative;
    overflow:hidden;
    background-color:#333;
     
}

.grid figure .img {
    max-width: 100%;
    display: block;
    position: relative;
    transition: transform 0.4s;

}

.grid figcaption {
    position: absolute;
    top: auto;
    bottom:0;
    left: 0;
    padding: 20px;
    background: #262626;
    color: #F2F2F2;
    opacity:0;
    height:60px;
    transform: translateY(100%);
    transition: transform 0.4s, opacity 0.1s 0.3s;
}


.grid figcaption .descricao {
	margin: 0;
	padding: 0;
	color: #fff;
}


.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}


 figure:hover .img{
     transform: translateY(-50px);
 }

figure:hover figcaption {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.4s, opacity 0.1s;
}





.right {
    width:60%;
    height:100%;
    background-color:#6000FF;
    float:left;
    display:flex;
    align-items:center;
}

.left {
    width:40%;
    height:100%;
    background-color:#fff;
    float:left;
}

.fecha-janela {
    position:absolute;
    font-family:'qanelas';
    font-size:30px;
    right:15px;
}

.img-grande {
    width:100%;
}