/* First Section */

#lsection, #rsection{
	width:50%;
	height:100vh;
	background-color: #f2f2f2;
	transition: 0.3s;
	float:left;
	z-index: 0;
	display: flex;
}


#rsection{
	align-items: center;
}


#lsection div{
	align-self: center;
}

#lsection h1, h1.title {
    font-family: 'qanelas-bold';
    color: #0093ff;
    font-weight: bold;
    font-size: 120px;
    text-align: center;
    transition: 0.3s;
}

#lsection.active h1,{

	color:#f2f2f2;
	
}

#lsection p, p.desc{
	text-align: center;
	font-family: 'open';
	color:#333;
	font-weight:normal;
	font-size:20px;
	margin-top: -40px;
	transition:0.3s
}

#rsection div{
	align-self: center;
    

    
}

#rsection img{

	width: 1000px;
    
    

}

/* Buttons */

#buttons {
	align-self:center;

}

.blue {
    font-family: 'open';
    font-size: 15px;
    text-align: center;
    float: left;
    border: 2px solid #0093ff;
    border-radius: 5px;
    color: #f2f2f2;
    margin: 5px;
    margin-top: 20px;
    width: 165px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #0093ff;
}

#buttons .blue {
    font-family: 'open';
    font-size: 15px;
    text-align: center;
    float: left;
    border: 2px solid #0093ff;
    border-radius: 5px;
    color: #0093ff;
    margin: 5px;
    margin-top: 20px;
    width: 165px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.3s;
    background: #f2f2f2;
}


#buttons.active .blue{
	font-family:'open';
	font-size: 15px;
	text-align: center;
	float:left;
	border:2px solid #0093ff;
	border-radius:5px;
	color:#f2f2f2;
	margin:5px;
	margin-top:20px;
	width: 165px;
	padding-top:15px;
	padding-bottom:15px;
	background:#0093ff;
}

#buttons .blue:hover{
	color:#f2f2f2;
	background:#0093ff;
	transform: translateY(0px);
	cursor:pointer;
}

#buttons.active ,blue:hover{
	color:#f2f2f2;
	background:transparent;
	transform: translateY(0px);
	cursor:pointer;
}

#lsection.active p{
    color:#f2f2f2;
}