/*Login css*/

* {
    margin: 0 auto;
    font-family: 'open';
}

section {
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100vh;
}

#right div p:first-of-type {
    color: #0093ff;
    font-size: 34px;
    margin-bottom: 15px;
}

.caixxinha, .confirmar {
    background: #fff;
    width: 200px;
    height: 25px;
    border: #fff;
    border-radius: 3px;
    padding: 10px;
    padding-left: 15px;
    font-family: 'open';
    font-size: 15px;
    color: #0093ff;
    caret-color: #0093ff;
    user-select: all;
}

#right div p {
    color: #333;
    font-size: 13.5px;
    margin-bottom: 5px;
}

.caixxinha, .confirmar {
    outline: none;
    border: 1.5px solid #fff;
    border-radius: 5px;
    padding: 17px;
    font-size: 17px;
    caret-color: #0093ff;
    color: #333;
    width: 70%;
    transition: 0.3s;
    margin-bottom: 15px;
}

    .caixxinha::-webkit-input-placeholder, .confirmar::-webkit-input-placeholder {
        color: rgba(51, 51, 51, 0.60);
        transition: 0.3s;
    }

    .caixxinha:focus::-webkit-input-placeholder, .confirmar:focus::-webkit-input-placeholder {
        color: transparent;
    }

    .caixxinha::selection, .confirmar::selection {
        background: rgba(51, 51, 51, 0.45);
        color: #fff;
    }

.but, .cadastro {
    width: 150px;
    border: none;
    background: #0093ff;
    border-radius: 5px;
    padding: 20px;
    color: #f2f2f2;
    font-size: 17px;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease-out;
    float: left;
    position: relative;
    top: 0px;
}

.confirmar {
    display: none;
}