// SCSS
@import '../imports/todos';
@import '../controls/button';
@import '../controls/textbox';
@import '../controls/modal';
@import '../controls/checkbox';

// media 

@media (max-width:576px) {
}
@media (max-width:768px) {
}
@media (max-width:992px) {
    
}
@media (max-width:1600px) {
    .centraliza{
        width:75%;
    }
}
@media (min-width:1366px) {
    .centraliza {
        width: 410px;
    }
}

//comandos gerais
#player {
    width: 500px;
    height: 250px;
    position: absolute;
    top: 15%;
    left: 15%;
    z-index: 7;
}

// Primeira seção (é dividida em duas controls direita (principal) e esquerda (login) 


section {
    @include wh(100vh);

    h1 {
        font-weight: $extra-bold;
        font-size: 2.1em;
        color: $texto;
        width: 340px;
        margin: 0;
    }

    
}


section{ 
    h3 {
        color: $texto;
        font-size:0.9em;
        width:290px;
        margin: 0;
        font-weight:$normal;

        a {
            color: $texto;
            font-weight:$bold;
        }
    }
}

#principal, #login{
    height: 100vh;
    float: left;
    z-index: 0;
    display: flex;
   
}

//Principal

#principal {
    background-color: $cor-primaria;
    width: 60%;
    opacity: 0.67;
    background: rgba(0,149,255,1);
    background: -moz-linear-gradient(-45deg, rgba(0,149,255,1) 0%, rgba(61,116,219,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,149,255,1)), color-stop(100%, rgba(61,116,219,1)));
    background: -webkit-linear-gradient(-45deg, rgba(0,149,255,1) 0%, rgba(61,116,219,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,149,255,1) 0%, rgba(61,116,219,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,149,255,1) 0%, rgba(61,116,219,1) 100%);
    background: linear-gradient(135deg, rgba(0,149,255,1) 0%, rgba(61,116,219,1) 100%);
    align-items: flex-end;

    div {
        width: 75%;
        height: 40%;
    }

    .c-quadrado {
        position: absolute;
        top: 5px;
        left: -7.5px;
        width: 40px;
        height: 40px;
        background: rgba(255, 255, 255, 0.3);
        transform: rotate(45deg);
        border-radius: 7px;
    }
}

#bg-img {
    margin: 0;
    z-index: 0;
    width: 65%;
    height: 100vh;
    background: url("../img/index-bg.jpg") no-repeat;
    background-size: 118%;
    background-position: bottom 0px right 0px;
}
//login

#login {
    background-color: $cor-fundo;
    width: 40%;
    align-items: center;

    p:first-of-type {
        color: $cor-primaria;
        font-size: 34px;
        margin-left: 10px;
    }

    #logintitle {
        font-weight: $semi-bold;
    }

    #cadastre-se {
        color: $cinza;
        font-size: 15px;
        margin-top: 30px;
        text-align: center;
    }

    span {
        color: $cor-primaria;
        font-size: 13.5px;
    }

    input:first-of-type {
        width: 100%;
    }

    .link {
        color: $cor-primaria;
        font-weight: $normal;
        cursor:pointer;
    }

    #abre-senha{
        font-size:13.5px;
        position:absolute;
        top:255px;
    }
}

.login{
    width:100%;
    margin-top:30px;
}

.centralizalogin {
    .link {
        font-size:13px;
        margin-top:0;
        cursor:pointer;
    }
}

.centralizabotao {
    display: flex;
    align-content: center;
}


// Segunda seção

section#video {
    @include wh(110vh);
    background-color: $texto;
    display: flex;
    align-items: center;
    justify-content: center;

    .conteiner {
        padding: 0 40px;
        width: 60%;
        height: 100vh;
        display: flex;
    }

    .conteiner-video {
        flex: 0 1 100%;
        align-self: center;

        div:first-of-type {
            margin-bottom: 17px;
        }

        h1 {
            font-weight: $semi-bold;
            color: $cinza-escuro;
            font-size: 2em;
            width: 100%;
        }

        p {
            font-size: 1em;
            color: $cinza;
        }
    }
}






// Terceira seção

section#facilidade {
    @include wh(50vh);
    background-color: #333;
    float: right;
}

h2.title-subsection {
    text-align: center;
    font-weight:$bold;
    font-size: 2.5vw;
    margin-top: 3%;
}

h2.light {
    color: $texto;
}

h2.dark {
    color: $cinza;
}

h2.tamanhos {
    text-align: left;
    margin-top: 20%;
}

p.desc {
    font-size: 1.1vw;
    text-align: justify;
}

p.desc-facilidade {
    color: $texto;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1%;
}

p.first {
    margin-top: 4%;
}

.same-height {
    @include wh(80vh);
    float: left;
    position: relative;
}

img#dois-teclados {
    position: absolute;
    width: auto;
    height: 110%;
    top: 16%;
    left: 10%;
}

#tamanhos {
    background-color: $cor-fundo;
}

#escolha-cor {
    background-color: $texto;
}

.lsection {
    float: left;
    @include hw(55%);
}

.rsection {
    float: left;
    @include hw(45%);
}

p.desc-tamanhos {
    margin-top: 10%;
    padding-right: 50%;
}

.btn-comece-ja {
    margin-left: 17%;
    margin-top: 7%;
}

div.section-white {
    float: left;
}

footer#footi {
    @include wh(40vh);
    background-color: $cor-fundo;
    float: right;
    position:relative;
}

.lsection-escolha {
    width: 40%;
    height: 80vh;
}

.rsection-escolha {
    width: 60%;
    height: 80vh;
    display: flex;
    align-items: center;
}

img#demo-acroni {
    width: 70%;
    height: auto;
}

h2.title-escolha {
    text-align: left;
    margin-top: 27%;
    padding-left: 10%;
}

p.escolha {
    padding-left: 10%;
    margin-top: 5%;
}

.divisor {
    width: 7px;
    height: 30vh;
    position: absolute;
    margin-top: 3%;
    left: 49.8%;
    background-color: $cor-primaria;
    float: left;
    border: none;
}

div#div-logo {
    float: left;
    position:absolute;
    top: 32%;
    left: 31%;
}

#logo-footer {
    font-size: 5vw;
    text-align: center;
}

div#menu-footer {
    position: absolute;
    top: 27%;
    right: 35%;
}

#subtitulo-logo-footer {
    text-align: center;
    font-size: 1vw;
}

ul#menu-lista li {
    font-weight:$bold;
    color: #333;
    text-align: left;
    font-size: 1.5vw;
    margin-top: 10%;
}

