//-----------
// Pré-code
//-----------

.m-div.carrinho {
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    max-width: 1300px;
    margin-bottom: 400px;

    &.completo {
        opacity: 1;

        .right-carrinho, 
        .figure-carrinho,
        .left-carrinho {
            opacity: 1;
        }

    }
}

.m-div.login-carrinho{
    margin:0 auto;
    padding:0;
}

.grid-carrinho{
    padding: 0px 20px 20px 20px;
}

.right-carrinho {
    width:40%;
}

.left-carrinho{
    opacity: 0;
    width:60%;
    display:flex;
    flex-direction:column;

    li{
        width:700px;
    }

    h3{
        text-align:left;
        color:#5f5f5f;
        margin-bottom:15px;
      
    }
}

.produto-carrinho {
    width: 100%;
    height: 230px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px $light-gray;
    display: flex;
    align-items: center;
    position: relative;

    .figure-carrinho {
        box-shadow: none;
        width: 300px;
        background-color: transparent;


        &:hover {
            box-shadow: none;
        }
    }

    .desc-carrinho {

        .descricao.nome.carrinho {
            font-size: 20px;
        }

        div {
            font-size: 30px;

            span {
                display: unset;
                color: #0093ff;
            }
        }
    }

    .btns-carrinho {


        .delete {
            position: absolute;
            right: 10px;
            top: 5px;
            width: 34px;
            text-align: center;
            pointer-events: none;

            &.material-icons:before {
                font-size: 20px;
                content: "delete_filled";
                color: #333;
            }
        }

        .btn-delete {
            position: absolute;
            right: 15px;
            top: 5px;
            border: none;
            background: none;
            cursor: pointer;
        }

        .qtde-carrinho {
            position: absolute;
            right: 5px;
            bottom: 5px;

            .lbl-qtde {
                font-size: 20px;
            }

            .menos, .mais, .delete {
                width: 24px;
                cursor: pointer;

                &:hover {
                    &.material-icons:before {
                        color: #0093ff;
                    }
                }
            }

            .menos {

                &.material-icons:before {
                    font-size: 17px;
                    content: "remove_filled";
                    color: #333;
                }
            }



            .mais.material-icons:before {
                font-size: 17px;
                content: "add_filled";
                color: #333;
            }
        }
    }
}

.frete-carrinho {
    width: auto;

    .txt-frete {
        width: 535px;
        border: 0.15rem solid #fff;
        border-radius:1px;
    }
}

.frete-h1 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #5f5f5f;
}

.resumo-compra {
    max-width: 1000px;
    padding: 0 40px;

    h1 {
        margin-bottom: 20px;
        text-align: center;
    }
}


.resumo-compra-itens {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    //box-shadow: 0px 2px 6px #808080;

    .button-carrinho {
        margin: 0;
        float: inherit;
        margin-top:40px;
        width: 100%;
    }

    ul {
        text-decoration: none;
        list-style: none;
        padding: 0;

        li {
            padding: 20px 0;
            display: flex;
        }
    }

    .resumo-item {
        &-valor, &-label {
            width: 50%;
            font-size: 20px;
            float: left;
        }

        &-valor {
            display: inline-flex;
        }
    }
}   


//Pagamento


.pagamento-item-carrinho {
    width: 80%;
    padding: 20px;
    box-shadow: 0px 2px 6px $light-gray;
    border-radius:5px;
    margin-bottom:30px;

    span {
        font-weight: $bold;
        font-size: 30px;
        margin-bottom: 10px;
        color:$primary-color;
    }

    input {
        width: 100%;
        margin: 0;
        margin-top: 15px;
    }
}

//Sucesso


.sucesso{
    border:5px solid $primary-color;
    padding: 40px;
    display: flex;
    flex-direction:column;
    align-content:center;
    border-radius:10px;

    a{
        color:$primary-color;
    }
}

