// SCSS

@import '../imports/todos';


//CABECALHO

#cabecalho {
   background-color: #36393f;
   width:100%;
   height:60px;
   align-self:flex-start;
   display:flex;
   align-items:center;
   justify-content:center;

   h1{
       font-weight:$semi-bold;
       width:100%;
       text-align:center;
       font-size:22px;

   }
}

//INFORMAÇÕES BÁSICAS E CREDENCIAIS

.right-minha-conta {
    background-color: #303339;
}

#informacoes-basicas, #credenciais, #foto-pricing {
    h1 {
        width: auto;
        font-size: 17px;
        font-weight: $semi-bold;
    }
}

#informacoes-basicas, #credenciais {
    width: 380px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-right: 40px;
}

.minha-conta-forms, #foto-pricing {
    float: left;
    width: 50%;
}

#foto-pricing-conteudo {
    height: 504px;
    background-color: #36393f;
    border-radius: 15px;
    width: 400px;
    margin: 0;

    .foto {
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        figure {
            background-color: #303339;
            border-radius: 50%;
            overflow: hidden;
            width: 200px;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 120%;
            }

            figcaption {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.2);
                display: flex;
                align-items: center;

                p {
                    color: $texto;
                    font-weight: $semi-bold;
                    width: 50%;
                    text-align: center;
                }
            }
        }
    }

    .plano {
        font-weight: $semi-bold;
        color: #72767d;

        .nome-plano {
            text-align: center;
            font-size: 15px;
            margin-bottom: 20px;
        }

        .info-plano {
            display: flex;
            align-items: center;
            justify-content: center;

            ul {
                font-size: 14px;
            }
        }
    }
}
